---
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    /* reset */

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    html {
        color-scheme: light dark;
    }

    img,
    svg,
    video {
        max-width: 100%;
        display: block;
    }

    :root {
        /* TODO make a muted version for body */
        --color-text: 0, 0%, 2%;
        --color-background: 0, 0%, 98%;
        --color-primary: 250, 30%, 38%;
        --color-secondary: 128, 29%, 90%;
        --color-accent: 10, 30%, 50%;

        --font-text: "Open Sans", sans-serif;
        --font-accent: "Josefin Sans", sans-serif;

        --font-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
        --font-400: clamp(1.35rem, calc(1.2rem + 0.73vw), 1.77rem);
        --font-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
        --font-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
        --font-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
        --font-800: clamp(2.8rem, calc(1.32rem + 7.42vw), 7.07rem);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            /* TODO make a muted version for body */
            --color-text: 135, 31%, 95%;
            --color-background: 129, 30%, 9%;
            --color-primary: 250, 30%, 38%;
            --color-secondary: 129, 30%, 9%;
            --color-accent: 10, 30%, 49%;
        }
    }

    body {
        font-size: var(--font-400);
        /* kevin powell recommendation */
        line-height: 1.6;
        /* font-family: system-ui */
        font-family: var(--font-text);
        color: hsl(var(--color-text));
        background-color: hsl(var(--color-background));
    }

    h1,
    h2,
    h3 {
        font-family: var(--font-accent);
        /* NOTE smaller line height for larger font sizes */
        line-height: 1.1;
        /* NOTE https://developer.mozilla.org/en-US/docs/Web/CSS/text-wrap */
        text-wrap: balance;
    }

    h1,
    h2 {
        color: hsl(var(--color-primary));
    }

    h1 {
        font-size: var(--font-700);
    }

    h2 {
        font-size: var(--font-600);
        --flow-space: 1.5em;
    }

    h3 {
        font-size: var(--font-500);
    }

    a {
        color: hsl(var(--color-primary));
    }

    a:hover,
    a:focus {
        color: hsl(var(--color-accent));
    }

    /* this requires `is:global` */
    ::marker {
        color: hsl(var(--color-primary));
    }

    /* composition */

    .wrapper {
        /* ch based on reading line */
        width: min(100% - 3rem, 55ch);
        margin-inline: auto;
    }

    .flow > * + * {
        /* space is now dynamic */
        margin-top: var(--flow-space, 1em);
    }
</style>
